.auth {
    width: 75%;

    margin: auto;
    margin-top: 3.5rem;

    font-weight: 300;

    display: flex;
}

.h3 {
    font-size: 200%;
}

.info {
    width: 45%;

    padding: 0 2rem;

    border-right: 1px solid lightgray;
}

.info h3 {
    margin: 0;
}

.info button {
    margin-top: 1.5rem;

    border: 1px solid rgb(66, 66, 255);

    padding: 1.5rem 4rem;

    background-color: rgb(66, 66, 255);
    color: white;

    cursor: pointer;

    transition: all 0.5s ease-out;
}

.info button:hover,
.info button:active {
    color: rgb(66, 66, 255);
    background-color: white;
}

.form {
    width: 55%;

    padding: 0 4rem;
}

.form form {
    border-bottom: 1px solid lightgray;

    padding-bottom: 1rem;
}

.form form input,
.form form button {
    width: 100%;

    border-radius: 0.35rem;

    margin: 0.5rem 0;
}

.form form button {
    text-align: center;
}

.form form button:hover,
.form form button:active {
    background-color: rgb(27, 225, 165);
}

.form form button:disabled {
    background-color: rgb(163, 184, 255);
}