.bottom {
    margin-top: 1rem;

    padding: 1rem;

    display: flex;
    justify-content: space-between;
}

.bottom a {
    color: rgb(66, 66, 255);
}

.bottom a:hover {
    color: rgb(51, 194, 161);
}