.datePicker {
    background-color: white;
    color: #1E1064;

    border: 1px solid lightgray;
    border-radius: 0;

    font-size: 90%;

    padding: 1rem 2rem;

    flex-grow: 24;
    margin-right: 3.5rem;
}

.datePicker:focus-visible {
    color: white;
    background-color: #1E1064;

    outline: none;
}