.welcome {
    color: #1e1064;

    width: 100%;

    padding: 2rem 3rem;
    padding-bottom: 5rem;

    font-weight: 400;

    background-color: lightblue;
}

.firstLine {
    font-size: 250%;
    margin-bottom: 0.5rem;
}

.secondLine {
    font-size: 150%;
    margin: 0;

    color: white;
}
