.nav {
    display: flex;

    margin-bottom: 0.5rem;

    font-size: 125%;
}

.wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helper {
    border-bottom: 1px solid #0175E2;
}

.other,
.chosen {
    padding: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: center;

    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.other {
    background-color: #0175E2;
    color: white;
    margin: 0.125rem;
    margin-top: 0;
}

.chosen {
    border: 1px solid #0175E2;
    height: 100%;
    border-bottom: none;
    color: #0175E2;
}
