.info {
    display: flex;

    align-items: center;
}

.info:hover,
.info.active {
    background-color: #f0f0f0;
}

.info > div {
    text-align: center;
}

.info > div:nth-child(1) {
    width: 26%;
}

.info > div:nth-child(2) {
    width: 16%;
}

.info > div:nth-child(3) {
    width: 16%;
}

.info > div:nth-child(4) {
    width: 16%;
}

.info > div:nth-child(5) {
    width: 26%;
}

.trainType {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainType p {
    background-color: orange;
    color: white;

    font-size: 50%;

    margin: 0;
    padding: 0.25rem 1.5rem;
}

.travelTime {
    padding: 1.5rem 0;
}
