.header {
    display: flex;

    font-size: 90%;

    margin-bottom: 2rem;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.header p {
    text-align: center;
}

.header > p:nth-child(1) {
    width: 26%;
}

.header > p:nth-child(2) {
    width: 16%;
}

.header > p:nth-child(3) {
    width: 16%;
}

.header > p:nth-child(4) {
    width: 16%;
}

.header > p:nth-child(5) {
    width: 26%;
}